<footer class="bg-primary text-white py-12">
    <div class="container mx-auto px-6">
        <div class="grid md:grid-cols-3 gap-8">
            <div>
                <h3 class="text-2xl font-bold mb-4">Emydn Group</h3>
                <p class="text-gray-300">
                    We Build, Educate, and Innovate.<br>
                    Membangun masa depan melalui teknologi, edukasi, dan inovasi.
                </p>
            </div>
            <div>
                <h4 class="text-xl font-semibold mb-4">Alamat</h4>
                <p class="text-gray-300">
                    Jl Wijaya 1 No 54, Kebayoran Baru, Jakarta, Indonesia<br>
                    Email: info@emydngroup.com<br>
                    Phone: +62 858-1967-2814
                </p>
            </div>
                <div>
                    <h4 class="text-xl font-semibold mb-4">Ikuti Kami</h4>
                    <div class="flex space-x-4">
                        <a href="https://www.facebook.com/rinduu28/" target="_blank" class="text-2xl hover:text-secondary transition"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/emydnn_/" target="_blank" class="text-2xl hover:text-secondary transition"><i class="fab fa-instagram"></i></a>
                        <a href="https://x.com/diki_yogi" target="_blank" class="text-2xl hover:text-secondary transition"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.tiktok.com/@emydn.group" target="_blank" class="text-2xl hover:text-secondary transition"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
        </div>
        <div class="border-t border-gray-700 mt-8 pt-8 text-center">
            <p class="text-gray-300">&copy; 2025 Emydn Group. All rights reserved.</p>
